# Ignore the virtual environment
llmenv/

# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore temporary files created by editors (VS Code, PyCharm, etc.)
tempCodeRunnerFile.py

# Ignore other system files that may be generated
*.log
*.bak

# Ignore operating system-specific files (macOS, Windows, etc.)
.DS_Store  # macOS
Thumbs.db  # Windows